<!-- <form>
  <input id="x1" type="number" value="100" min="1" max="500">
  <input id="x2" type="number" value="100" min="1" max="500">
  <input id="y" type="number" value="100" min="1" max="500">
  <input id="color" class="hide" type="color" value="#ff8d4b">
</form> -->


<form class="level1">

  <!-- each dim -->
  <div class="field dib" *ngFor="let dim of dims1">
    <div class="control">
      <input [id]="dim.id" type="number" value="100" min="1" max="500" class="input" name="dfsd" [(ngModel)]="dim.val">
    </div>
    <p class="bold_link" (click)="onLabel()">{{labels[index].label}}</p>
    <label class="name">{{dim.label}}</label>
  </div>

  <!-- color selector -->
  <input id="color" class="hide" type="color" value="#ff8d4b">

</form>
<div id="canvas-wrapper"></div>